/config/database.php
/vendor
/Backups
.env
/laravel-worker.cnf
/public/js/lista-datos-backup.js
/app/Http/Controllers/pruebaController.php
/public/Mesas/*
/database
/public/importacionesAutoexcluidos/fotos/*
/public/importacionesAutoexcluidos/formularios/*
/public/importacionesAutoexcluidos/documentos/*
/public/importacionesAutoexcluidos/solicitudes/*


