.barraMenu {
  /*height: 600px;*/
  background-color: black;
  color: #555 !important;
  font-family: "Roboto-Light";
  font-size: 16px;
}

/* HOVERS */
.barraMenu .hoverRuta {
  color: #555 !important;
}

.barraMenu .hoverRuta:hover,
.nombreMenu1:hover,
.nombreMenu2:hover,
.nombreMenu3:hover,
.nombreMenu4:hover {
  color: #3fbbff !important;
  transform: scale(1.1) translate(10px);
}

/*.barraMenu .iconoDireccion1:hover,
.barraMenu .iconoDireccion2:hover,
.barraMenu .iconoDireccion3:hover {
  transform: scale(1.5);
}*/

/* ACTIVOS */
.menuActivoBlue{
  color:#3fbbff !important;
  transform: scale(1.1) translate(10px);
}
.menuActivo {
  color: white;
  transform: scale(1.1) translate(10px);
}

/* DESPLIEGUES */
.iconoDireccion1[aria-expanded="true"],
.iconoDireccion2[aria-expanded="true"],
.iconoDireccion3[aria-expanded="true"] {
  transform: rotate(90deg);
  transform-origin: 60% 60%;
}

/* estilos para pantalla menor a 800px de ancho */

.iconoDireccion1, .iconoDireccion2, .iconoDireccion3, .iconoDireccion4
.nivelMenu2, .nivelMenu3, .nivelMenu4,
.nombreMenu1, .nombreMenu2
{
  display: none;
}

.iconoMenu1 {
  margin-bottom: 20px;
}

#iconoInicio {
  width: 65%;
  position:relative;
  left:14px !important;
}
#iconoCasino {
  width: 52%;
  position:relative;
  left:17px !important;
}
#iconoUsuario {
  width: 80%;
  position:relative;
  left:6px !important;
}
#iconoExpediente {
  width: 52%;
  position:relative;
  left:16px !important;
}
#iconoMaquina {
  width: 52%;
  position:relative;
  left:17px !important;
}
#iconoTablero {
  width: 56%;
  position:relative;
  left:15px !important;
}
#iconoInformes{
  width: 66%;
  position:relative;
  left:12px !important;
}

@media(min-width:801px) {

    /* ICONOS | correccion de posición */
    #iconoInicio {
      width: 125%;
      position:relative;
      left:-10px !important;
    }
    #iconoCasino {
      width: 105%;
      position:relative;
      left:-7px !important;
    }
    #iconoUsuario {
      width: 150%;
      position:relative;
      left:-9px !important;
    }
    #iconoExpediente {
      width: 94%;
      position:relative;
      left:-4px !important;
    }
    #iconoMaquina {
      width: 96%;
      position:relative;
      left:-3px !important;
    }
    #iconoTablero {
      width: 101%;
      position:relative;
      left:-4px !important;
    }
    #iconoInformes{
      width: 125%;
      position:relative;
      left:-7px !important;
    }

    /**** NIVEL 1 DE MENU ****/
    .nivelMenu1 {
      /*display: block !important;*/
      width: 100%;
      margin-top: 7px;
      padding: 5px 0px 5px 0px;
    }

    .iconoDireccion1 {
      cursor:pointer;
      padding-left: 25px;
      width: 15%;
      display: inline-block;
    }

    .iconoMenu1 {
      width: 15%;
      position: relative;
      left: 3px;
      top: -1px;
      display: inline-block;
      margin-bottom: 0px;
    }
    .nombreMenu1 {
      padding-left: 10px;
      width: 70% ;
      display: inline-block;
      font-family: "Roboto-Condensed" !important;
      font-size: 18px;
    }

    /**** NIVEL 2 DE MENU ****/
    .nivelMenu2 {
      display: block !important;
      margin-left: 7%;
      width: 93%;
      padding: 8px 0px 5px 0px;
    }

    .iconoDireccion2 {
      cursor:pointer;
      padding-left: 25px;
      width: 15%;
      display: inline-block;
    }

    .nombreMenu2 {
      width: 78% ;
      display: inline-block;
      font-family: "Roboto-Condensed";
      /*font-size: 16px;*/
    }

    /**** NIVEL 3 DE MENU ****/
    .nivelMenu3 {
      display: block !important;
      margin-left: 14%;
      width: 86%;
      padding: 4px 0px 2px 0px;
    }

    .iconoDireccion3 {
      cursor:pointer;
      padding-left: 25px;
      width: 15%;
      display: inline-block;
    }

    .nombreMenu3 {
      width: 71% ;
      display: inline-block;
    }

    /**** NIVEL 4 DE MENU ****/
    .nivelMenu4 {
      display: block !important;
      margin-left: 21%;
      width: 79%;
      padding: 4px 0px 4px 0px;
    }

    .iconoDireccion4 {
      cursor:pointer;
      padding-left: 25px;
      width: 15%;
      display: inline-block;
    }

    .nombreMenu4 {
      width: 64% ;
      display: inline-block;
    }
}
