.iconoPresionado{
  fill: #4fc2f8;
  stroke: #4fc2f8;
}

.iconoHome{
  fill: #868b90;
  stroke: #868b90;
  width: 28px;
  height: 48px;
}
.iconoCasinos{
  fill: #868b90;
  stroke: #868b90;
  width: 30px;
  height: 50px;
}
.iconoCasinosModif{
  fill: #868b90;
  stroke: #868b90;
  width: 50px;
  height: 80px;
}
.iconoUsuarios{
  fill: #868b90;
  stroke: #868b90;
  width: 23px;
  height: 43px;
}
.iconoExpedientes{
  fill: #868b90;
  stroke: #868b90;
  width: 26px;
  height: 46px;
}
.iconoMaquinas{
  fill: #868b90;
  stroke: #868b90;
  width: 28px;
  height: 48px;
}
.iconoTableroControl{
  fill: #868b90;
  stroke: #868b90;
  width: 24px;
  height: 44px;
}
.iconoTableroModif{
  fill: #868b90;
  stroke: #868b90;
  width: 54px;
  height: 84px;
}
.iconoInformes{
  fill: #868b90;
  stroke: #868b90;
  width: 22px;
  height: 42px;
}
.iconoInformesModif{
  fill: #868b90;
  stroke: #868b90;
  width: 52px;
  height: 82px;
}
.iconoBingos{
  fill: #868b90;
  stroke: #868b90;
  width: 22px;
  height: 42px;
}
.iconoMesa{
  fill: #868b90;
  stroke: #868b90;
  width: 22px;
  height: 42px;
}
