body {
  /*margin: -40px -20px -20px -20px;*/
  margin: -20px;
  padding: 0px;
  padding-top: -5px;
  /*background-color: green;*/
}

.encabezado img {
  padding-left: -5px;
  padding-top: -10px;
}

    /* TITULO */
    .encabezado .tituloPlanilla {
      font-family: Helvetica;
      font-size: 14px;
      position: absolute;
      top: 37px;
      left: 38px;
    }

    .encabezado .tituloPlanilla h3 {
      font-weight: normal;
      display: inline;
    }

    .encabezado .tituloPlanilla h4 {
      font-weight: lighter;
      display: inline;
    }

    /* CASINO Y SECTOR */
    .infoCasinoSector {
      font-family: Helvetica;
      font-size: 14px;
      position: absolute;
      top: 37px;
      left: 648px;
    }
        .infoCasinoSector .casino {
          text-align: right;
          margin-right: 5px;
        }
        .infoCasinoSector .sector {
          text-align: left;
          margin-left: 5px;
        }

    /* FECHA Y HORA EJECUCIÓN*/
    .infoFecha {
      font-family: Helvetica;
      font-size: 14px;
      position: absolute;
      top: 37px;
      left: 885px;
    }
    .infoHora {
      font-family: Helvetica;
      font-size: 14px;
      position: absolute;
      top: 37px;
      left: 990px;
      background-color: white;
    }
        /*.infoFechaHora span {

        }*/

/* REFERENCIAS */
.referencias {
  /*padding-top: 4px;*/
  text-align: center;
  font-family: Helvetica;
  /*line-height: 16px;*/
  /*padding-bottom: 0px;*/
  /*margin-bottom: 0px;*/
  margin: 0px;
  padding: 18px 0px 0px 0px;
  line-height: 0px;
}
.codigoReferencia {
  font-weight: bold;
  font-size: 12px;
}
.descripcionReferencia {
  font-weight: normal;
  font-size: 10px;
}

/* TABLA */

table {
  width: 100%;
  font-family: Helvetica;
}

    table th {
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      background-color: #888;
      color: white;
    }
    table th.contador {
      width: 16.6%;
      /*border-right: 2px solid #aaa;*/
    }
    /*table th.no_toma {
      width: 4%;
    }*/

    /*table tr td {
      font-size: 12px;
      font-weight: bold;
      text-align: left;
    }*/
    table tr td {
      /*border-right: 2px solid #aaa;*/
      /*border-bottom: 2px solid #aaa;*/
    }

    .infoMaquina .titulo {
      font-size: 12px;
      font-weight: normal;
      text-align: left;
      margin-right: 10px;
      margin-left: 10px;
    }
    .infoMaquina td {
      /*border-bottom: 2px solid #aaa;*/
      /*height: 10px;*/
      padding: 2px;
      margin: 0px;
      background-color: #eee;
      line-height: 16px;
    }
      .infoMaquina .nro_admin, .infoMaquina .nro_isla, .infoMaquina .nombre_juego, .infoMaquina .unidad_medida {
        font-size: 13px;
        font-weight: bold;
        text-align: left;
        padding: 0px; margin: 0px;
      }
      .infoMaquina .no_toma {
        background: white !important;
      }
      .infoMaquina .no_toma .titulo {
        margin-right: 0px;
      }

    .detalleContadores {
      /*font-size: 8px;*/
      font-size: 10px;
      font-weight: normal;
      line-height: 11px;
      /*font-family: 'DejaVu Sans Mono';*/
    }

        .detalleContadores td {
            background-color: #ddd;
            padding-left: 5px;
            height: 24px;
            text-transform: lowercase;
        }
        /*.detalleContadores td::first-letter {
          text-transform: capitalize;
        }*/

    .camposContadores td {
      height: 27px;
      padding: 0px 10px 0px 5px;
      text-align: right;
      font-family: Impact;
      /*border-bottom: 2px solid #333;*/
    }
    .camposContadores.sin_toma {
      background-color: #ccc;
    }


/* BORDER DE TABLA */
table {
  border-right: none;
  border: 2px solid #333;
  border-collapse: collapse;
  /*page-break-after: always;*/
  /*page-break-inside: avoid;*/
}


    table thead tr th.contador {
      /*border-right: 2px solid #aaa;*/
      /*border-bottom: 2px solid #aaa;*/
    }
    table thead tr th.no_toma {
      /*border-bottom: 2px solid #aaa;*/
    }


    .infoMaquina .mtm, .infoMaquina .isla, .infoMaquina .marca, .infoMaquina .unidad {
      border-right: 2px solid #aaa;
    }

    .detalleContadores td {
        border-right: 2px solid #aaa;
    }

    .camposContadores td {
      border-bottom: 2px solid #333;
    }
    .campoContador {
      border-right: 2px solid #aaa;
      height: 30px;
    }

.borde_negro {
  border-right: 2px solid #333 !important;
}
