body {
  margin: 0px;
  padding: -20px;
  /*background-color: green;*/
}

#contenedorPlanilla {
  font-family: sans-serif;
  height: 76px;
  border: 3px solid black;
  /*border-bottom: none;*/
  /*background-color: yellow;*/
  margin: 5px 0px;
}


.encabezadoImg {
   position: relative;
   width: 100%;
   top:-10px;
   /*margin-bottom: -50px;*/
}
.relevamientos {
  position: relative;
  top: -5px;
}

h2 {
   position: absolute;
   top: 11px;
   left: 35px;
   width: 100%;
}

h2 span {
   /*color: white;*/
   font: bold 12px/45px Helvetica, Sans-Serif;
   /*background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);*/
   padding: 10px;
}
.tablaInicio{
  font-size: 12px;
  height: inherit;
}
.tablaAmbiental{
  font-size: 12px;
  height: 19px;
}
.tablaProgresivos{
  font-size: 12px;
  height: 22px;
}
.tablaCampos{
  font-size: 11px;
}
.camposTab{
  position: absolute;
  right: 256px;
  top: 12px;
}
.camposInfo{
  position: absolute;
  /*right:232px;*/
  right: 248px;
  top: 28px;
  font: 11px Helvetica, Sans-Serif;
}
.campoSector{
  position: absolute;
  /*right:232px;*/
  right: 247px;
  top: 28px;
  font: 11px Helvetica, Sans-Serif;
}
.horaEjecucion{
  position: absolute;
  right: -18px;
  top: 0px;
}

.titulo {
   font: bold 12px Helvetica, Sans-Serif;
    font-size: 12px;
}

.campo {
  /*display: inline-block;*/
  width: 140px !important;
  height: 30px !important;
  border: 1px solid #888;
  border-style: dashed;
}

.primerEncabezado{
  top:80px;
  right:600px;
  font: 12px Helvetica, Sans-Serif;
}
