/**, *::before, *::after {
    box-sizing: inherit;
}*/

html {
  height: 100%;
}

body{

  background: url(/img/img_edit.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-attachment: fixed;
  background-clip: border-box;

  width: 1px;
  min-width: 100%;
  margin: 0;
  height: 100%;
}

#contenedor {
  max-width: 100%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  /*background-color: red;*/
}

#sub-contenedor {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  height: 100%;
}

#barraSuperior {
  width: 100%;
  height: 50px;
  background-color:black;
}
    #btnBars {
      position: absolute;
      right: 15px;
      top: 11px;
      background-color: black;
      border: none;
    }
    #btnBars i {
      color: white;
    }
    #btnBars:hover {
      transform: scale(1.2) translateY(1px);
    }
    #btnBarraCerrarSesion {
      display: none;
    }
    #btnBarraConfigCuenta {
      display: none;
    }

    #img_perfilBarra {
      display: none;
    }
    #nombreBarra {
      display: none;
    }
    #usuarioBarra {
      display: none;
    }

#barraIzquierda {
    width: 100%;
    max-width: 100%;
    /*width: 40px;*/
    /*max-width: 5%;*/
    background-color: none;
}
    #seccionLogo {
        height: 70px;
        background-color:green;
        display: none;
    }
        .logo {
          margin-left: 50px;
          width: 80px;
          cursor: pointer;
        }
        .logo:hover {
          transform: scale(1.1) translateY(1px);
        }
    #seccionUsuario {
        padding-left: 20px;
        padding-top: 10px;
        height: 65px;
        background-color: #F5F5F5;
    }
        #img_perfil {
            margin-left: 25px;
            margin-top: 10px;
            width: 45px;
            padding: 2px;
            border: 3px solid #424242;
        }
        #nombreCuenta {
          color: #424242;
          text-transform: uppercase;
          display: inline;
          font-size: 16px;
          font-family: Roboto-Condensed;
          font-weight: bolder;
          position: relative;
          top: 8px;
          left: 10px;
        }
        #usuarioCuenta {
          color: #424242;
          display: inline;
          font-size: 16px;
          font-family: Roboto-Regular;
          font-weight: lighter;
          position: relative;
          top: 7px;
          left: 15px;
        }
        #btnCerrarSesion {
          color: #424242;
          background-color: #F5F5F5;
          margin-left: 20px;
          position: relative;
          top: 10px;
          border: none;
        }
        #btnCerrarSesion:hover {
          transform: scale(1.2) translateY(1px);
        }
        #btnConfigCuenta {
          color: #424242;
          background-color: #F5F5F5;
          margin-left: 40px;
          position: relative;
          top: 10px;
          border: none;
        }
        #btnConfigCuenta:hover {
          transform: scale(1.2) translateY(1px);
        }

    #seccionMenu {
        background-color: #F5F5F5;
        padding: 10px 20px 30px 20px;
    }

#vista {
    /*background-image: url(/img/img_edit.jpg);*/
    /*background-color: white;*/
    height: 100%;
    width: 100%;
    max-width: 100%;
    /*background-color:blue;*/
}
    header {
      color: white;
      font-family: Roboto-Condensed;
      margin-top: 5px;
      margin-bottom: 10px;
    }
        header > img {
            width: 50px;
            display:inline;
            margin-left: 20px;
        }
        header > h2 {
            font-weight: bolder;
            display:inline;
            position:relative;
            top:8px;
        }

    .row {
      margin: 0px !important;
      padding: 0px 5px;
    }

    .row > div {
        padding: 0px;
    }

    i.faGenerado {
      position: relative;
      left: -9px;
      color: #FBC02D;
    }
    i.faCargando{
      position: relative;
      left: -9px;
      color: #FF3D00;
    }
    i.faFinalizado {
      position: relative;
      left: -9px;
      color: #2962FF;
    }
    i.faValidado {
      position: relative;
      left: -9px;
      color: #69F0AE;
    }

    .highcharts-container tspan {
      font-family: Roboto-Regular !important;
      font-size: 16px !important;
      font-weight: 400 !important;
    }

    .panel {
      border: none;
      /*border-bottom: 2px solid #FF3D00;*/
      border-radius: 0px;
      margin: 0px 8px 15px 8px;
      box-shadow: none;
    }

    .panel-heading {
      background-color: #F5F5F5 !important;
      padding: 20px;
      /*background-color: white !important;*/
      border: none;
    }
    .panel-body {
      background-color: #F5F5F5 !important;
      padding: 0px 20px 10px 20px;
    }

    .panel h4 {
      color: #444;
      font-family: Roboto-Light;
      text-transform: uppercase;
      font-size: 18px;
      margin: 2px 0px;
    }

    .panel h5 {
      color: #aaa;
      font-family: Roboto-Regular;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 14px;
    }

    .panel input {
      color: #333;
      font-size: 16px;
      font-family: Roboto-Regular;
    }

    .panel input:hover, .panel input:active, .panel input:focus {
      /*box-shadow: none !important;*/
    }

    .panel select {
      color: #333;
      font-size: 16px;
      font-family: Roboto-Regular;
    }

    input[type=checkbox] {
      zoom: 1.5;
    }

    /*.panel .number-spinner .input-group-btn {
      height: 20px !important;
      padding: 6px 12px 6px 12px !important;
      font-size: 16px;
      font-family: Roboto-Regular;
    }*/

    .panel .row {
      box-sizing: border-box !important;
      margin: 0px -15px !important;
    }

    .panel .row > div {
      padding: 0px 15px !important;
    }

    table th {
      font-size: 14px;
      font-weight: bold;
      font-family: Roboto-Regular;
      color: #aaa !important;
      cursor: pointer;
    }

    table td {
      height: auto;
      vertical-align: middle !important;
      font-size: 16px;
      font-family: Roboto-Regular;
    }


/***  ESTILOS PARA TAMAMAÑO DE PANTALLA MAYOR A 800px  ***/
@media(min-width:801px) {
    #contenedor {
      height: 100%;
      max-width: 100%;
      position: relative;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }

    #sub-contenedor {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
      height: 100%;
    }

    #barraSuperior {
      position: fixed;
      height: 70px;
      z-index: 20;
      background-color: #01579B;
      opacity: 1;
      /*display: none;*/
    }
            #seccionUsuarioBarra {
              display:inline; width:380px; height:70px; position:absolute; right:120px;
            }
            #img_perfilBarra {
              display: inline;
              position: absolute; left: 18px; top: 13px; width: 46px;
              padding: 2px;
              border: 2px solid white;
            }
            #nombreBarra {
              display: inline;
              font-size: 20px; font-family: Roboto-Condensed; font-weight: bolder; color: white;
              text-transform: uppercase;
              position: absolute; left: 80px; top: -4px;
            }
            #usuarioBarra {
              display: inline;
              font-size: 16px; font-family: Roboto-Regular; font-weight: lighter; color: white;
              position: absolute; left: 80px; top: 29px;
            }

        #btnBars {
          display: none;
        }
        #btnBarraCerrarSesion {
          display: inline;
          color: white;
          background-color: #01579B;
          position: absolute;
          right: 20px;
          top: 20px;
          border: none;
        }
        #btnBarraCerrarSesion:hover {
          transform: scale(1.2) translateY(1px);
        }
        #btnBarraConfigCuenta {
          display: inline;
          color: white;
          background-color: #01579B;
          position: absolute;
          right: 70px;
          top: 20px;
          border: none;
        }
        #btnBarraConfigCuenta:hover {
          transform: scale(1.2) translateY(1px);
        }


    #barraIzquierda {
        position: fixed;
        display: block;
        height: 100% !important;
        width: 250px;
        /*width: 20%;*/
        /*max-width: 20%;*/
        background-color: #F5F5F5;
        /*background-color: none;*/
    }
        #seccionLogo {
            text-align: center;
            height: 70px !important;
            width: 250px;
            /*background-color: #000;*/
            background-color: #111;
            display: block;
            z-index: 20;
            position: fixed;
            opacity: 0;
        }
            .logo {
              position: relative;
              top:2px;
              margin-left: 70px;
              width: 100px;
            }
            .logo:hover {
              transform: scale(1.1) translateY(1px);
            }

        #seccionUsuario {
          display: none;

            height: 65px;
            background-color: #F5F5F5;
            text-align: center;
            /*color: #424242;*/
            margin-top: 70px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
            #img_perfil {
                margin-left: 15px;
                margin-top: 5px;
                width: 50px;
            }
            #nombreCuenta {
              color: #424242;
              display: inline;
              font-size: 16px;
              font-family: Roboto-Condensed;
              font-weight: bolder;
              position: relative;
              top: -4px;
            }
            #usuarioCuenta {
              color: #424242;
              display: inline;
              font-size: 16px;
              font-family: Roboto-Regular;
              font-weight: lighter;
              position: relative;
              top: 14px;
              left: -110px;
            }

        #seccionMenu {
            /*height: 100%;*/
            background-color: #F5F5F5;
            margin-top: 90px;
            padding: 0px 0px 0px 5px;
        }

    #vista {


        /*background-color: white;*/
        height: 100%;
        padding: 0px 20px;
        margin-left: 250px;
        width: 100%;
        /*width: 820px;*/
        /*max-width: 80%;*/
        /*background-color:blue;*/
    }

    /* ver como cambia el tamaño de la imagen */
    /* y modificar el background size */

        header {
          color: white;
          font-family: Roboto-Condensed;
          margin-top: 110px;
          margin-bottom: 20px;
        }
            header > img {
                width: 60px;
                display:inline;
                margin-left: 20px;
                position: relative;
                top: -3px;
            }
            header > h2 {
                font-weight: bolder;
                font-size: 35px;
                display:inline;
                position:relative;
                top:8px;
            }

}


/** POPOVER **/
.popover {
  min-width: 200px !important;
}
.popover-title {
  padding: 5px;
  line-height: 20px;
  font-family: Roboto-Condensed;
  font-size: 14px;
  text-align:center;
}
.popover-content {
  font-family: Roboto-Regular;
  font-size: 16px;
  text-align:center;
}

#barraIzquierda span:hover {
    color: #FFA726 !important;
}
