body {
  margin: 0px;
  padding: -20px;
  /*background-color: green;*/
}

#contenedorPlanilla {
  font-family: sans-serif;
  height: 76px;
  border: 3px solid black;
  /*border-bottom: none;*/
  /*background-color: yellow;*/
  margin: 5px 0px;
}

.filaMaquina {
  font-size: 12px;
  position: absolute;
  top:3px;
  text-align: center;
}

.mtm {
  border: 1px solid #888;
  border-bottom: none;
  display: inline-block;
  height: 16px;
  width: 60px;
  background-color: #eee;
}
.nro_mtm {
  font-weight: bold;
  border: 1px solid #888;
  border-left: none;
  border-bottom: none;
  display: inline-block;
  height: 16px;
  width: 71px;
  /*background-color: green;*/
}
.isla {
  border: 1px solid #888;
  border-left: none;
  border-bottom: none;
  display: inline-block;
  height: 16px;
  width: 60px;
  background-color: #eee;
}
.nro_isla {
  font-weight: bold;
  border: 1px solid #888;
  border-left: none;
  border-bottom: none;
  display: inline-block;
  height: 16px;
  width: 71px;
  /*background-color: green;*/
}
.marca {
  border: 1px solid #888;
  border-left: none;
  border-bottom: none;
  display: inline-block;
  height: 16px;
  width: 70px;
  background-color: #eee;
}
.nombre_marca {
  font-weight: bold;
  border: 1px solid #888;
  border-left: none;
  border-right: none;
  border-bottom: none;
  display: inline-block;
  height: 16px;
  width: 719px;
  /*background-color: green;*/
}



.filaContadores {
  font-size: 10px;
  text-align: center;
  position: absolute;
  top:22px;
}
.contador {
  padding: 0px 3px;
  border: 1px solid #888;
  border-right: none;
  border-bottom: none;
  display: inline-block;
  height: 30px;/*height: 18px;*/
  width: 126px;
  background-color: #eee;
}



.filaRelleno {
  position: absolute;
  top: 52px;
}
.rellenoContador {
  text-align: center;
  border: 1px solid #888;
  border-right: none;
  border-bottom: none;
  padding: 4px 6px;
  display: inline-block;
  height: 21px;
  width: 120px;

  /*background-color: yellow;*/
}

.encabezadoImg {
   position: relative;
   width: 100%;
   top:-10px;
   /*margin-bottom: -50px;*/
}
.relevamientos {
  position: relative;
  top: -5px;
}

h2 {
   position: absolute;
   top: 11px;
   left: 35px;
   width: 100%;
}

h2 span {
   /*color: white;*/
   font: bold 12px/45px Helvetica, Sans-Serif;
   /*background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);*/
   padding: 10px;
}
.camposTab{
  position: absolute;
  /*right:278px;*/
  right: 256px;
  top: 12px;
}
.camposInfo{
  position: absolute;
  /*right:232px;*/
  right: 248px;
  top: 28px;
  font: 11px Helvetica, Sans-Serif;
}
.campoSector{
  position: absolute;
  /*right:232px;*/
  right: 247px;
  top: 28px;
  font: 11px Helvetica, Sans-Serif;
}
.horaEjecucion{
  position: absolute;
  right: -18px;
  top: 0px;
}

.titulo {
   font: bold 12px Helvetica, Sans-Serif;
    font-size: 12px;
}

.campo {
  /*display: inline-block;*/
  width: 140px !important;
  height: 30px !important;
  border: 1px solid #888;
  border-style: dashed;
}
