h5 {
  margin-bottom: 0px;
}
.infoResaltada {
  padding-left: 12px;
  font-family:Roboto-Condensed;
  display:block;
}
#nro_admin {
  font-size:62px;
  position: relative; top:-8px;
}
#marca {
  font-size:32px;
  position: relative; top:-8px;
}
#casino {
  font-size:40px;
}
#sector {
  font-size:30px;
  position: relative;
  top:12px;
}
#isla {
  font-size:46px;
}
#juego {
  font-size:32px;
}
#denominacion {
  font-size:36px;
}
#devolucion {
  font-size:36px;
}
#producido {
  display: inline;
  font-size:46px;
  color: #00E676;
}

.filaMovimiento {
  padding: 20px 10px 10px 10px;
  margin-left: 10px;
  position: relative;
  height: auto;
  border-left: 3px solid #55f;
}

.filaMovimiento:hover .circuloTiempo {
  transform: scale(1.2);
}
.filaMovimiento:hover .link {
  opacity: 1;
}

.fecha {
  padding-left: 16px;
  font-size: 20px;
  font-family: Roboto-Light;
}
.razon {
  font-size: 20px;
}

/*.lineaTiempo {

  position: absolute;
  left: 25px; top:65px;
  width: 3px; height: calc(100% - 110px);
  background-color: #55f;

}*/

.circuloTiempo {
  width: 15px; height: 15px; border-radius: 50%;
  background-color: #55f;
  position: absolute;
  left:-9px; top:30px;
}
.link {
  color: #55f;
  margin-left: 25px;
  transform: scale(1.8);
  opacity: 0;
  cursor: pointer;
}
