

.imgIndex1 {
  background-image: url(../img/img_principal1.jpg);
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.imgIndex2 {
  background-image: url(../img/img_principal2.jpg);
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.imgIndex3 {
  background-image: url(../img/img_principal3.jpg);
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

/*footer {
  height: 10vh;
  background-color: #000;
  color: #fff;
}*/

/*section {
  height: 90vh;
}*/
/*#boxLog {
  top: 230px;
}*/

/*@media screen and (max-height: 850px){
  #boxLog{
    top: 100px;
  }
}*/

/*@media screen and (max-height: 650px){
    body {
      height: 100%;
    }
    section {
      height: auto;
    }
    footer {
      position: relative;
      bottom: -80px;
    }
    #boxLog{
      top: 0px;
    }
}*/

/*@media screen and (min-width: 767px) {
  #boxLog{
    margin-top: 230px;
  }
}*/

#columnaCopyright {
  text-align: center;
}

#columnaCopyright h5 {
  /*margin-left: 20px;*/
}

#boxLog{
  margin-top: 260px;
}

@media (max-height: 800px) {
  #boxLog{
    margin-top: 60px;
  }
}
@media (max-width: 800px) {
  #boxLog{
    margin-top: 20px;
  }
}


@media (max-width: 1200px) {
  #columnaCopyright {
    text-align: left;
  }
  #columnaCopyright h5 {
    margin-left: 20px;
  }
}
