.imgIndex1 {
  background-image: url(../img/img_principal1.jpg);
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.imgIndex2 {
  background-image: url(../img/img_principal2.jpg);
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.imgIndex3 {
  background-image: url(../img/img_principal3.jpg);
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#columnaCopyright {
  text-align: center;
}

#boxLog{
  margin-top: 260px;
}

@media (max-height: 800px) {
  #boxLog{
    margin-top: 60px;
  }
}
@media (max-width: 800px) {
  #boxLog{
    margin-top: 20px;
  }
}

@media (max-width: 1200px) {
  #columnaCopyright {
    text-align: left;
  }
  #columnaCopyright h5 {
    margin-left: 20px;
  }
}
