
#columnaCopyright {
  text-align: center;
}

#boxLog{
  margin-top: 260px;
}

@media (max-height: 800px) {
  #boxLog{
    margin-top: 60px;
  }
}
@media (max-width: 800px) {
  #boxLog{
    margin-top: 20px;
  }
}

@media (max-width: 1200px) {
  #columnaCopyright {
    text-align: left;
  }
  #columnaCopyright h5 {
    margin-left: 20px;
  }
}
