.contenedor-data-list {
    position: relative;
    top: -2px;
    /*top:33px;*/
}

.contenedor-data-list.grupo {
  top: 30px !important;
}

.lista-data-list {
  position: absolute;
  left: 0px;

  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0px 0px 5px 5px;
  /*padding-top: 3px;*/
  /*padding-bottom: 3px;*/

  max-height: 160px;
  width: 100%;

  overflow-y: auto;
  z-index: 200;
}

.elemento-data-list {
  font-family: Roboto-Regular;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
}

.elemento-data-list:hover {
  background-color: #eee;
}

.elemento-data-list.elemento-marcado {
  background-color: #eee;
}

.check-data-list {
  z-index: 200;
  position: relative;
  top:-25px;
  right: 12px;
  float: right;

  transform: scale(1.2);
}

.check-data-list.fa-check {
  color: #64DD17;
}
.check-data-list.fa-search {
  color: #444;
}

.btn-lista-datos.activo {
  background-color: #eee;
  position: relative !important;
  top: -7px !important;
}
