.indicePaginacion {
  margin-top: 30px;
  margin-bottom: 20px;
    color: black;
    float: left;
    padding: 12px 18px;
      height: 48px;
    text-decoration: none !important;
    transition: background-color .3s;
}

.indicePaginacion.fa {
  padding: 15px 19.5px;
}

.indicePaginacion.fa.bloqueado {
  background-color: #D3D3D3;
}
.indicePaginacion.current {
  background-color: #01579B;
    /*background-color: #4CAF50;*/
  color: white;
}

.indicePaginacion{
  cursor:pointer;
}

.indicePaginacion:hover:not(.bloqueado) {background-color: #ddd; color: black;}

.opcionPaginacion {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block !important;
  font-family: 'Roboto-Regular';
  font-size: 14px;
  font-weight: 700 !important;
  color: #aaa !important;
}

.zonaPaginacion select {
  margin-bottom: 20px !important;
}

@media (max-width: 1400px) {
  .indicePaginacion {
    height: 40px;
    padding: 8px 12px;
  }
  .indicePaginacion.fa {
    height: 40px;
    padding: 12px 12px;
  }
}
