/* Modificando las tablas */
.table-fixed {
  table-layout: fixed;
}
.table-fixed tbody td {
  white-space: nowrap;
  overflow: hidden;         /* <- this does seem to be required */
  text-overflow: ellipsis;
}

.table-fixed thead {
  /*width: 97%;*/
  width: 100%;
}
.table-fixed tbody {
  /*height: 230px;*/
  overflow-y: auto;
  width: 100%;
}
.table-fixed tfoot {
  width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tfoot, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th, .table-fixed tfoot > tr > td {
  float: left;
  border-bottom-width: 0;
}
