
@font-face {
 font-family: AbrilFatface;
 font-style: normal;
 font-weight: normal;
 src: url("/fonts/AbrilFatFace/AbrilFatface-Regular.ttf") format('truetype');
}

@font-face {
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
 font-family: Roboto-Black;
 font-style: normal;
 font-weight: normal;
 src: url("/fonts/Roboto/Roboto-Black.ttf") format('truetype');
}

/* LA MÁS GRANDE */
.tarjetaSeccion {
  overflow: hidden;
  height:215px;
  background-color:#FF7043;
  margin-bottom: 24px;
}

.tituloSeccion {
  margin: 0px;
  position:relative;
  top: -415px;
  color:white;
  font-family:'Roboto-Black';
  font-size: 25px;
  opacity: 0;

  transition: all 300ms;
}

.imagenSeccion {
  position:relative;
  top: -435px !important;
  transform: scale(0.8);
  transition: all 300ms;
}

.tituloFondo {
  position:relative;
  top:-30px;
  right:-60px;
  opacity:0.4;
  color:#ff8a65;
  font-family:'Roboto-Black';
  font-size:120px;
  transition: all 300ms;
}

.imagenFondo {
  opacity:0.4;
  position:relative;
  top:-90px;
  left:-30px;
  transition: all 300ms;
}

.tarjetaSeccion:hover .tituloSeccion {
  opacity: 1;
}
.tarjetaSeccion:hover .imagenSeccion {
  transform: translateY(20px) scale(0.85);
}

.tarjetaSeccion:hover .tituloFondo {
  transform: translate(-30px, 0px);
}
.tarjetaSeccion:hover .imagenFondo {
    /*transform: scale(1.1);*/
    transform: translate(30px, 0px);
}


/* LA MÁS CHICA */
.tarjetaSeccionMenor {
  height:204px;
  background-color:#FF7043;
  overflow: hidden;
  margin: 0px 8px 15px 8px;
}

.tituloSeccionMenor {
  margin: 0px;
  position:relative;
  /*top: 14px;*/
    top: -180px;
  color:white;
  font-family:'Roboto-Black';

  opacity: 0;

  transition: all 300ms;
}

.imagenSeccionMenor {
  /*height: 150px;*/
  position:relative;
  /*top: -5px;*/

  transition: all 300ms;
}

.tituloFondoMenor {
  position:relative;
  top:-10px;
  right:-60px;
  opacity:0.4;
  color:#ff8a65;
  font-family:'Roboto-Black';
  font-size:160px;
  transition: all 300ms;
}

.tarjetaSeccionMenor:hover .tituloSeccionMenor {
  opacity: 1;
}

.tarjetaSeccionMenor:hover .imagenSeccionMenor {
  transform: translateY(20px) scale(0.85);
}

.tarjetaSeccionMenor:hover .tituloFondoMenor {
  transform: translate(-30px, 0px);
}

@media(min-width:801px) {
    /* LA MÁS GRANDE */
    .tarjetaSeccion {
      overflow: hidden;
      height:300px;
      background-color:#FF7043;
      /*margin-bottom: 24px;*/
      margin: 0px 8px 15px 8px;
    }

    .tituloSeccion {
      margin: 0px;
      position:relative;
      top: -560px;
      color:white;
      font-family:'Roboto-Black';
      font-size: 35px;
      opacity: 0;

      transition: all 300ms;
    }

    .imagenSeccion {
      position:relative;
      top: -555px !important;
      transform: scale(1);
      transition: all 300ms;
    }

    .tituloFondo {
      position:relative;
      top:-30px;
      right:-60px;
      opacity:0.4;
      color:#ff8a65;
      font-family:'Roboto-Black';
      font-size:160px;
      transition: all 300ms;
    }

    .imagenFondo {
      opacity:0.4;
      position:relative;
      top:-90px;
      left:-30px;
      transition: all 300ms;
    }

    .tarjetaSeccion:hover .tituloSeccion {
      opacity: 1;
    }
    .tarjetaSeccion:hover .imagenSeccion {
      transform: translateY(20px) scale(0.85);
    }

    .tarjetaSeccion:hover .tituloFondo {
      transform: translate(-30px, 0px);
    }
    .tarjetaSeccion:hover .imagenFondo {
        /*transform: scale(1.1);*/
        transform: translate(30px, 0px);
    }


    /* LA MÁS CHICA */
    .tarjetaSeccionMenor {
      height:204px;
      background-color:#FF7043;
      /*margin-bottom: 24px;*/
      overflow: hidden;
      margin: 0px 8px 15px 8px;
    }

    .tituloSeccionMenor {
      margin: 0px;
      position:relative;
      /*top: 14px;*/
        top: -180px;
      color:white;
      font-family:'Roboto-Black';

      opacity: 0;

      transition: all 300ms;
    }

    .imagenSeccionMenor {
      /*height: 150px;*/
      position:relative;
      /*top: -5px;*/

      transition: all 300ms;
    }

    .tituloFondoMenor {
      position:relative;
      top:-10px;
      left:-120px;
      opacity:0.4;
      width: 0px;
      color:#ff8a65;
      font-family:'Roboto-Black';
      font-size:160px;
      transition: all 300ms;
    }

    .tarjetaSeccionMenor:hover .tituloSeccionMenor {
      opacity: 1;
    }

    .tarjetaSeccionMenor:hover .imagenSeccionMenor {
      transform: translateY(20px) scale(0.85);
    }

    .tarjetaSeccionMenor:hover .tituloFondoMenor {
      transform: translate(-30px, 0px);
    }
}









/* VIEJAAAAAAAAAAAAAAAAAAAAAAAAS */

.tarjeta {
  margin: 0px 0px 25px 0px !important;
  height: 300px;
  background-color: white;
  background-position: center;
}

.mascara {
  padding: 15px !important;
  width: 100%;
  height: 100%;
  /*background-color: #18FFFF;*/
  transition: all 400ms;

  background: -moz-linear-gradient(bottom right, rgb(0, 96, 100, 0), rgb(24, 255, 255, 0));
  background-image: -webkit-linear-gradient(bottom right, rgb(0, 96, 100, 0), rgb(24, 255, 255, 0));

}

.cuadro {
  width: 100%;
  height: 100%;
  border: 4px solid #fff;
  border-radius: 0px;

  opacity: 0;
  transition: all 400ms;
}

.titulo {
  font-family: Roboto-Black;
  position: absolute;
  top: 60%;
  left: 15%;
  color: #fff;

  transition: all 400ms;
}

.descripcion {
  font-family: Roboto-Regular;
  position: absolute;
  top: 40%;
  left: 15%;
  width: 70%;
  color: #fff;
  opacity: 0;
  /*-moz-animation: escalado 400ms;*/
}


/* Hover */
.tarjeta:hover .cuadro {
  opacity: 1;
}

.tarjeta:hover .mascara {
  background: -moz-linear-gradient(bottom right, rgb(0, 96, 100, 0.5), rgb(24, 255, 255, 0.5));
  background: -webkit-linear-gradient(bottom right, rgb(0, 96, 100, 0.5), rgb(24, 255, 255, 0.5));

}

.tarjeta:hover .titulo {
  top: 20%;
}

.tarjeta:hover .descripcion {
  -moz-animation: escalado 600ms forwards;
  -webkit-animation: escalado 600ms forwards;

}

@-moz-keyframes escalado {
  50%   { opacity: 0; }
  100% { opacity: 1; }
}


@-webkit-keyframes escalado {
  50%   { opacity: 0; }
  100% { opacity: 1; }
}

/* Imagenes de todas las tarjetas */
#tarjetaGestionUsuarios {
  background-image: url(/img/tarjetas/gestion_usuarios.jpg) !important;
}
#tarjetaRolesyPermisos {
  background-image: url(/img/tarjetas/rolesPermisos.jpg) !important;
}
#tarjetaLogActividades {
  background-image: url(/img/tarjetas/logActividades.jpg) !important;
}

#tarjetaCasinos {
  background-image: url(/img/tarjetas/casino.jpg) !important;
}

#tarjetaCertificados {
  background-image: url(/img/tarjetas/certificados.jpg) !important;
}

#tarjetaUsuarios {
  background-image: url(/img/tarjetas/usuarios.jpg) !important;
}

#tarjetaExpedientes {
  background-image: url(/img/tarjetas/expedientest.jpg) !important;
}
#tarjetaMaquinas {
  background-image: url(/img/tarjetas/maquinas.jpg) !important;
}
#tarjetaGestionExpedientes{
  background-image: url(/img/tarjetas/expedientes.jpg) !important;
}
#tarjetaResoluciones{
  background-image: url(/img/tarjetas/resoluciones.jpg) !important;
}
#tarjetaDisposiciones{
  background-image: url(/img/tarjetas/disposiciones.jpg) !important;
}
#tarjetaSoft{
  background-image: url(/img/tarjetas/software.jpg) !important;
}
#tarjetaHard{
  background-image: url(/img/tarjetas/hardware.jpg) !important;
}
#tarjetaGMaquinas{
  background-image: url(/img/tarjetas/gestionar_maquinas.jpg) !important;
}
#tarjetaProgresivos{
  background-image: url(/img/tarjetas/progresivos.jpg) !important;
}
#tarjetaIslas{
  background-image: url(/img/tarjetas/islas.jpg) !important;
}
#tarjetaFormulas{
  background-image: url(/img/tarjetas/formulas.jpg) !important;
}
#tarjetaJuegos{
  background-image: url(/img/tarjetas/juegos.jpg) !important;
}
