.iconoCarga {
  position: relative;
  padding: 100px;
}

.iconoCarga .marco {
  z-index: 2;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  /*height: 40px;*/
  /*height: 180px;*/
  background-color: white;

  -moz-animation: carga 800ms infinite;
  /*transition: all 300ms;*/
}

@-moz-keyframes carga {
  0%   { height: 180px; }
  100%  { height: 40px; }
}

.iconoCarga i {
  z-index: 1;
  position: absolute;
  left: 47%;
  transform: scale(10);

    -moz-animation: icono 800ms infinite;
}

@-moz-keyframes icono {
  0%   { color: #eee; }
  100%  { color: #4DB6AC; }
}
