.bannerCasino{
  height: 65px;
  color: #fff;
  background-image: url("/img/bannerCasino.jpg");
  background-size: cover;
  position: relative;
  top:20px;
  /*padding-top:45px;*/
  font-family: "Roboto-Black";
  font-weight: 600;
}

.bannerCasino h1{
  font-size: 25px;
  position: relative;
  margin-left: 20px;
  top: 7px;
}

.bannerCasino h1 img{
  transform: scale(0.8);
  position: relative;
  top: 0px;
}

.bannerMUsuarios{
  height: 65px;
  color: #fff;
  background-image: url("/img/bannerMUsuarios.jpg");
  background-size: cover;
  position: relative;
  top:20px;
  /*padding-top:2px;*/
  font-family: "Roboto-Black";
  font-weight: 600;
}
.bannerMUsuarios h1 {
  font-size: 25px;
  position: relative;
  margin-left: 20px;
  top: 7px;
}
.bannerMUsuarios h1 img {
  transform: scale(0.8);
  position: relative;
  top: -6px;
}

.bannerGUsuarios{
  height: 65px;
  color: #fff;
  background-image: url("/img/bannerGUsuarios.jpg");
  background-size: cover;
  position: relative;
  top:20px;
  /*padding-top:45px;*/
  font-family: "Roboto-Black";
  font-weight: 600;
}

.bannerGUsuarios h1{
  font-size: 25px;
  position: relative;
  margin-left: 20px;
  top: 7px;
}
.bannerGUsuarios h1 img{
  transform: scale(0.8);
  position: relative;
  top: -6px;
}

.bannerRoles{
  height: 65px;
  color: #fff;
  background-image: url("/img/bannerRoles.jpg");
  background-size: cover;
  position: relative;
  top:20px;
  /*padding-top:2px;*/
  font-family: "Roboto-Black";
  font-weight: 600;
}
.bannerRoles h1 {
  font-size: 25px;
  position: relative;
  margin-left: 20px;
  top: 7px;
}
.bannerRoles h1 img {
  transform: scale(0.8);
  position: relative;
  top: -2px;
}

.bannerLogAct{
  height: 65px;
  color: #fff;
  background-image: url("/img/bannerLogAct.jpg");
  background-size: cover;
  position: relative;
  top:20px;
  /*padding-top:2px;*/
  font-family: "Roboto-Black";
  font-weight: 600;
}
.bannerLogAct h1 {
  font-size: 25px;
  position: relative;
  margin-left: 20px;
  top: 7px;
}
.bannerLogAct h1 img {
  transform: scale(0.8);
  position: relative;
  top: -2px;
}

@media(min-width:801px) {
    .bannerCasino{
      height: 85px;
      color: #fff;
      /*background-image: url("/img/bannerMUsuarios.jpg");*/
        background-image: url("/img/bannerCasino.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:45px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .bannerCasino h1{
      /*position: relative;*/
      /*top: 15px;*/
      margin-left: 50px;
    }

    .bannerCasino h1 img{
      position: relative;
      left: -10px;
      top: -3px;
    }

    .bannerJuegos{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerJuegos.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:2px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }
    .bannerJuegos h1 {
      /*position: relative;*/
      margin-left: 20px;
      /*top: -45px;*/
    }
    .bannerJuegos h1 img {
      position: relative;
      top: -6px;
    }

    .bannerMUsuarios{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerMUsuarios.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:2px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }
    .bannerMUsuarios h1 {
      font-size: 35px;
      position: relative;
      margin-left: 20px;
      top: 0px;
    }
    .bannerMUsuarios h1 img {
      transform: scale(1);
      position: relative;
      top: -6px;
    }

    .bannerRoles{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerRoles.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:2px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }
    .bannerRoles h1 {
      /*position: relative;*/
      margin-left: 20px;
      /*top: -45px;*/
    }
    .bannerRoles h1 img {
      position: relative;
      top: -6px;
    }


    .bannerLogAct{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerLogAct.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:2px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }
    .bannerLogAct h1 {
      /*position: relative;*/
      margin-left: 20px;
      /*top: -45px;*/
    }
    .bannerLogAct h1 img {
      position: relative;
      top: -6px;
    }

    .bannerGUsuarios{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerGUsuarios.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:45px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .bannerGUsuarios h1{
      margin-left: 50px;
    }
    .bannerGUsuarios h1 img{
      position: relative;
      left: -10px;
      top: -3px;
    }

    .bannerMExpedientes{
      height: 85px;
      color: #fff;
      background-image: url("/img/menu_expedientes.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      padding-top:5px;
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .bannerMExpedientes h1{
      /*position: relative;*/
      /*top: 15px;*/
      margin-left: 50px;
    }

    .bannerMExpedientes h1 img{
      position: relative;
      left: -10px;
      top: -3px;
    }

    .bannerExpedientes{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerExpedientes.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      padding-top:5px;
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .bannerExpedientes h1{
      /*position: relative;*/
      /*top: 15px;*/
      margin-left: 50px;
    }

    .bannerExpedientes h1 img{
      position: relative;
      left: -10px;
      top: -3px;
    }

    .bannerResoluciones{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerResoluciones.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      padding-top:5px;
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .bannerResoluciones h1{
      /*position: relative;*/
      /*top: 15px;*/
      margin-left: 50px;
    }

    .bannerResoluciones h1 img{
      position: relative;
      left: -10px;
      top: -3px;
    }


    .bannerDisposiciones{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerDisposiciones.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      padding-top:5px;
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .bannerDisposiciones h1{
      /*position: relative;*/
      /*top: 15px;*/
      margin-left: 50px;
    }

    .bannerDisposiciones h1 img{
      position: relative;
      left: -10px;
      top: -3px;
    }

    .bannerHard{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerHard.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:2px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }
    .bannerHard h1 {
      /*position: relative;*/
      margin-left: 20px;
      /*top: -45px;*/
    }
    .bannerHard h1 img {
      position: relative;
      top: -6px;
    }

    .bannerSoft{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerSoft.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:2px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }
    .bannerSoft h1 {
      /*position: relative;*/
      margin-left: 20px;
      /*top: -45px;*/
    }
    .bannerSoft h1 img {
      position: relative;
      top: -6px;
    }

    .bannerMCertificados{
      height: 120px;
      color: #fff;
      background-image: url("/img/menu_certificados.jpg");
      background-size: cover;
      position: relative;
      padding-top:45px;
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .bannerMMaquinas{
      height: 85px;
      color: #fff;
      background-image: url("/img/menu_maquinas.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:45px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .bannerMMaquinas h1{
      /*position: relative;*/
      /*top: -15px;*/
      margin-left: 50px;
    }

    .bannerMMaquinas h1 img{
      position: relative;
      left: -10px;
      top: -3px;
    }

    .bannerSectores{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerSectores.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:45px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .bannerSectores h1{
      /*position: relative;*/
      /*top: -15px;*/
      margin-left: 50px;
    }

    .bannerSectores h1 img{
      position: relative;
      left: -10px;
      top: -3px;
    }

    .bannerProcedimientos{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerProcedimientos.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:45px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .bannerProcedimientos h1{
      /*position: relative;*/
      /*top: -15px;*/
      margin-left: 50px;
    }

    .bannerProcedimientos h1 img{
      position: relative;
      left: -10px;
      top: -3px;
    }

    .bannerContadores{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerContadores.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:45px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .bannerContadores h1{
      /*position: relative;*/
      /*top: -15px;*/
      margin-left: 50px;
    }

    .bannerContadores h1 img{
      position: relative;
      left: -10px;
      top: -3px;
    }

    .bannerImportaciones{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerImportaciones.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:45px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .bannerImportaciones h1{
      /*position: relative;*/
      /*top: -15px;*/
      margin-left: 50px;
    }

    .bannerImportaciones h1 img{
      position: relative;
      left: -10px;
      top: -3px;
    }

    .bannerRelevamientos{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerRelevamientos.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:45px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .bannerRelevamientos h1{
      /*position: relative;*/
      /*top: -15px;*/
      margin-left: 50px;
    }

    .bannerRelevamientos h1 img{
      position: relative;
      left: -10px;
      top: -3px;
    }

    .bannerMTMaPedido{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerMTMaPedido.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:45px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .bannerMTMaPedido h1{
      /*position: relative;*/
      /*top: -15px;*/
      margin-left: 50px;
    }

    .bannerMTMaPedido h1 img{
      position: relative;
      left: -10px;
      top: -3px;
    }

    .bannerProducidos{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerProducidos.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:45px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .bannerProducidos h1{
      /*position: relative;*/
      /*top: -15px;*/
      margin-left: 50px;
    }

    .bannerProducidos h1 img{
      position: relative;
      left: -10px;
      top: -3px;
    }

    .bannerBeneficios{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerBeneficios.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:45px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .bannerBeneficios h1{
      /*position: relative;*/
      /*top: -15px;*/
      margin-left: 50px;
    }

    .bannerBeneficios h1 img{
      position: relative;
      left: -10px;
      top: -3px;
    }

    .bannerEstadisticas{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerEstadisticas.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:45px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .bannerEstadisticas h1{
      /*position: relative;*/
      /*top: -15px;*/
      margin-left: 50px;
    }

    .bannerEstadisticas h1 img{
      position: relative;
      left: -10px;
      top: -3px;
    }

    .bannerIslas{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerIslas.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:45px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .bannerIslas h1{
      /*position: relative;*/
      /*top: -15px;*/
      margin-left: 50px;
    }

    .bannerIslas h1 img{
      position: relative;
      left: -10px;
      top: -3px;
    }

    .bannerProgresivos{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerProgresivos.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:45px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .bannerProgresivos h1{
      /*position: relative;*/
      /*top: -15px;*/
      margin-left: 50px;
    }

    .bannerProgresivos h1 img{
      position: relative;
      left: -10px;
      top: -3px;
    }

    .bannerFormulas{
      height: 85px;
      color: #fff;
      background-image: url("/img/bannerFormulas.jpg");
      background-size: cover;
      position: relative;
      top:20px;
      /*padding-top:45px;*/
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .bannerFormulas h1{
      /*position: relative;*/
      /*top: -15px;*/
      margin-left: 50px;
    }

    .bannerFormulas h1 img{
      position: relative;
      left: -10px;
      top: -3px;
    }

    .bannerGMaquinas{
      height: 120px;
      color: #fff;
      background-image: url("/img/bannerGestionarMaquinas.jpg");
      background-size: cover;
      position: relative;
      padding-top:45px;
      font-family: "Roboto-Black";
      font-weight: 600;
    }

    .recuadro1img{
      height: 120px;
      /*background-color: #4CAF50;*/
      color: #fff;
      background-image: url("/img/recuadro_gestion_usuarios.jpg");
      background-size: cover;
      position: relative;
      padding-top:45px;
      font-family: "Roboto-Black";
      font-weight: 600;
    }
}
