/* Movimientos de los iconoDireccion */
/* DESPLIEGUES */
.iconoDireccion1[aria-expanded="true"],
.iconoDireccion2[aria-expanded="true"],
.iconoDireccion3[aria-expanded="true"] {
  transform: rotate(90deg);
  transform-origin: 52% 52%;
}

/**** NIVEL 1 DE MENU ****/
.nivelMenu1 {
  width: 100%;
  /*margin-top: 7px;*/
  padding: 5px 0px 5px 0px;
}
.iconoDireccion1 {
  cursor:pointer;
  text-align: center;
  width: 10%;
  display: inline-block;
  color: #424242;
}
.iconoMenu1 {
  width: 10%;
  position: relative;
  display: inline-block;
}
.nombreMenu1 {
  width: 80% ;
  display: inline-block;
  font-family: "Roboto-Condensed" !important;
  font-size: 18px;
}
.nombreMenu1 span {
  color: #424242;
  position: relative;
  left: 20px;
}

/**** NIVEL 2 DE MENU ****/
.nivelMenu2 {
  display: block !important;
  margin-left: 8%;
  width: 92%;
  padding: 3px 0px 4px 0px;
}
.iconoDireccion2 {
  cursor:pointer;
  width: 15%;
  display: inline-block;
  text-align: center;
  color: #424242;
}
.nombreMenu2 {
  width: 85% ;
  display: inline-block;
  font-family: "Roboto-Regular";
  font-size: 15px;
  font-weight: 100;
  color: #424242;
}

/**** NIVEL 3 DE MENU ****/
.nivelMenu3 {
  display: block !important;
  margin-left: 16%;
  width: 84%;
  padding: 2px 0px 6px 0px;
}

.iconoDireccion3 {
  cursor:pointer;
  width: 15%;
  display: inline-block;
  text-align: center;
  color: #424242;
}

.nombreMenu3 {
  width: 85% ;
  display: inline-block;
  color: #424242;
  font-family: "Roboto-Regular";
  font-size: 15px;
}

/**** NIVEL 4 DE MENU ****/
.nivelMenu4 {
  display: block !important;
  margin-left: 24%;
  width: 76%;
  padding: 2px 0px 4px 0px;
}

.iconoDireccion4 {
  cursor:pointer;
  /*padding-left: 25px;*/
  width: 15%;
  display: inline-block;
  color: #424242;
}

.nombreMenu4 {
  width: 85% ;
  display: inline-block;
  color: #424242;
  font-family: "Roboto-Regular";
  font-size: 15px;
}


/* ICONOS | correccion de posición */
#iconoInicio {
  width: 50px;
  position:relative;
  top: -4px;
  left: -7px;
}
#iconoCasino {
  width: 45px;
  position:relative;
  left:-6px !important;
}
#iconoUsuario {
  width: 62px;
  position:relative;
  left:-10px !important;
}
#iconoExpediente {
  width: 40px;
  position:relative;
  left:-4px !important;
}
#iconoMaquina {
  width: 40px;
  position:relative;
  left:-3px !important;
}
#iconoTablero {
  width: 40px;
  position:relative;
  left:-4px !important;
}
#iconoInformes{
  width: 40px;
  position:relative;
  left:-7px !important;
}

@media(min-width:600px) {
    .nombreMenu1 span {
      left: -5px;
    }
}

@media(min-width:801px) {
  /* ICONOS | correccion de posición */
  #iconoInicio {
    width: 125%;
    position:relative;
    top: -4px;
    left: -4px;
  }
  #iconoCasino {
    width: 100%;
    position:relative;
    top:-2px;
    left: -1px !important;
  }
  #iconoUsuario {
    width: 140%;
    position:relative;
    top: -4px;
    left:-4px !important;
  }
  #iconoExpediente {
    width: 94%;
    position:relative;
    top: -4px;
    left:0px !important;
  }
  #iconoMaquina {
    width: 95%;
    position:relative;
    top: -4px;
    left: 0px !important;
  }
  #iconoTablero {
    width: 101%;
    position:relative;
    left:-4px !important;
  }
  #iconoInformes{
    width: 125%;
    position:relative;
    left:-7px !important;
  }


  /**** NIVEL 1 DE MENU ****/
  .iconoDireccion1 {
    width: 15%;
  }
  .iconoMenu1 {
    width: 15%;
  }
  .nombreMenu1 {
    width: 70% ;
  }
  .nombreMenu1 span {
    left: 8px;
  }

}
