/* el borde del cuadro
   el fondo del cuadro
y el color de la letra */
.popover.popAlerta {
  border: 2px solid #EF9A9A;
  border-radius: 0px;
  /*border: none;*/
  background-color: #FFCDD2;
  color: #C62828;
  font-family: Roboto-Regular;
  font-size: 15px;
}
/* el borde de la flecha */
.popover.popAlerta.top > .arrow {
  left: 50% !important;
  border-top-color: #EF9A9A;
  /*border-top-color: #FFCDD2;*/
}
/* el fondo de la felcha */
.popover.popAlerta.top > .arrow:after {
  border-top-color: #FFCDD2 !important;
  position: absolute;
  top: -13px;
}


.popover.popAdvertencia {
  border: 2px solid #f0f21d;
  border-radius: 0px;
  /*border: none;*/
  background-color: #f2f2ce;
  color: #f0f21d;
  font-family: Roboto-Regular;
  font-size: 15px;
}
/* el borde de la flecha */
.popover.popAdvertencia.top > .arrow {
  left: 50% !important;
  border-top-color: #f0f21d;
  /*border-top-color: #FFCDD2;*/
}
/* el fondo de la felcha */
.popover.popAdvertencia.top > .arrow:after {
  border-top-color: #f2f2ce !important;
  position: absolute;
  top: -13px;
}

.tooltip .tooltip-inner {
  font-family: Roboto-Condensed;
  font-size: 16px;
  background: black;
}
