#mensajeError {
  position: fixed;
  top: 80px;
  text-align: center;
  width: 30%;
  left: 35%;

  height:auto; background:#f5f5f5; border-radius:10px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 5000 !important;
  animation: salida 4s forwards;
}

#mensajeError .cabeceraMensaje {
 height:60px;background:#D50000;border-radius:10px 10px 0px 0px;
}

#mensajeError .iconoMensaje {
  display:inline-block; width:80px; height:80px; border-radius:50%; position:relative; top:-40px;
}

#mensajeError .iconoMensaje img {
  height:80px;
}

#mensajeError .textoMensaje {
  position:relative; top:-30px; padding: 0px 30px 0px 30px;
}

#mensajeError .textoMensaje h3 {
  font-family:Roboto-Condensed;font-size:25px; font-weight:bold;
}

#mensajeError .textoMensaje p {
  font-family:Roboto-Regular;font-size:18px;
}

@media (max-width: 1400px) {
  #mensajeError {
      top:30px;
      width: 50%;
      left: 25%;
  }
}

@media (max-width: 1023px) {
  #mensajeError {
      top:30px;
      width: 60%;
      left: 20%;
  }
}

@media (max-width: 799px) {
  #mensajeError {
      top:10px;
      width: 90%;
      left: 5%;
  }
}

@-moz-keyframes salida {
  0%   { transform: translate(0px,-700px);}
  15% { transform: translate(0px,20px);}
  20% { transform: translate(0px,0px);}
  90% { transform: translate(0px,0px);}
  100% { transform: translate(0px,-700px);}
}

@-webkit-keyframes salida {
  0%   { transform: translate(0px,-700px);}
  15% { transform: translate(0px,20px);}
  20% { transform: translate(0px,0px);}
  90% { transform: translate(0px,0px);}
  100% { transform: translate(0px,-700px);}
}
