/*TARJETAS GRANDES */
    .tarjetaMenu {
        text-decoration:none !important;
    }
    .contenedorTarjeta {
        overflow:hidden; margin: 0px 8px 15px 8px; background-color: #fff;
        height: 100%;
    }
    .contenedorTarjeta .imagenTarjeta {
        position:relative; top:0px; left:0px; opacity: 0.7;
        width: 100%;
        transition: all 200ms;
    }
    .contenedorTarjeta:hover .imagenTarjeta {
        opacity: 1;
    }

    .contenedorTarjeta .tituloTarjeta {
        color: #555; font-size:28px; font-family: Roboto-Black; padding: 30px 10px 20px 10px; margin: 0px;
    }
    .contenedorTarjeta:hover .tituloTarjeta {
        color: #333;
    }

    .contenedorTarjeta .detalleTarjeta {
        color: #555;font-size:14px;font-family: Roboto-Regular; padding: 0px 40px; margin-bottom:40px;
    }


/*TARJETAS MENORES */
    .contenedorTarjetaMenor {
        overflow:hidden; margin: 0px 8px 15px 8px; background-color: #fff;
        height: 204px;
    }
    .contenedorTarjetaMenor .imagenTarjetaMenor {
      opacity: 0.7;
      margin-top: 35px;
      width: 110px;
    }
    .contenedorTarjetaMenor .tituloTarjetaMenor {
        color: #555; font-size:28px; font-family: Roboto-Black; padding: 30px 10px 20px 10px; margin: 0px;
    }

    /* hovers */
    .contenedorTarjetaMenor:hover .imagenTarjetaMenor {
      opacity: 1;
    }
    .contenedorTarjetaMenor:hover .tituloTarjetaMenor {
      color: #333;
    }
